project_name = "myapp"
environment  = "staging"
region       = "eu-central-1"
profile      = "default"

vpc_cidr             = "10.20.0.0/16"
availability_zones   = ["eu-central-1a", "eu-central-1b"]
public_subnet_cidrs  = ["10.20.0.0/24", "10.20.1.0/24"]
private_subnet_cidrs = ["10.20.10.0/24", "10.20.11.0/24"]
